/* Colors: Dark blue - 2C3E50 Light blue - 1ABC9C White - FFFFFF */

nav {
    background-color: #2C3E50;
    width: 100%;
    height: 4rem;
    display: flex;
}

nav ul {
    justify-content: flex-end;
    display: flex;
    background-color: blue;
    list-style: none;
    align-content: flex-end;
    margin-left: 20rem;
} 
/* 
ul {
    list-style: none;
    margin-left: 0;
} */

a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.1rem;
    display: block;
    
    font-size: 1rem;
    text-align: center;
    
} 

nav h3 {
    color: #FFFFFF;
    font-size: 1.3rem;
    margin-left: 10rem;
}